

.slider img {
    width: 575px;
    height: 170px;
}

.slider .front {
    opacity: 100%;
    transition-duration: 0.3s;
}

.slider .back {
    position: absolute;
    left: 0px;
    opacity: 0%;
    transition-duration: 0.3s;
}

.img_buttons img {
    width: 120px;
    height: 35px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.44);
    border-radius: 5px;
}

.img_buttons img:hover {
    cursor:pointer;
}
#front-button {
    border: 1px solid grey;
}